<h1 class="mx-auto" style="width: 90%">Amortizacion a partir de metodo frances</h1>

<form method="POST" action="/amortizacion">
    <div class="form-group mx-auto" style="width: 90%">
        <div class="card" style="">
            <img src="https://gaxstudio.com/wp-content/uploads/2017/08/i-have-no-idea-what-im-doing-dog-feat-1-620x400.jpg" class="card-img-top" alt="suicidacion">
            <div class="card-body">
                <h5 class="card-title">Calculo de prestamo</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <label for="prestamo">Prestamo</label>
                    <input type="text" class="form-control" id="prestamo" name="prestamo">
                </li>
                <li class="list-group-item">
                    <label for="meses">meses</label>
                    <input type="text" class="form-control" id="meses" name="meses">
                </li>
                <li class="list-group-item">
                    <label for="interes">interes</label>
                    <input type="text" class="form-control" id="interes" name="interes">
                </li>
                <li class="list-group-item">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </li>
            </ul>
        </div>
    </div>





</form>